/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 9, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 16, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 21, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 24, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxContent {
  position: relative;
}

/* line 27, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxLoadedContent {
  overflow: auto;
}

/* line 30, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxTitle {
  margin: 0;
}

/* line 33, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 40, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* line 43, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
}

/* line 49, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 60, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxOverlay {
  background: url(/assets/film/overlay.png) repeat 0 0;
}

/* line 65, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(/assets/film/controls.png) no-repeat -101px 0;
}

/* line 70, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(/assets/film/controls.png) no-repeat -130px 0;
}

/* line 75, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(/assets/film/controls.png) no-repeat -101px -29px;
}

/* line 80, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(/assets/film/controls.png) no-repeat -130px -29px;
}

/* line 85, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxMiddleLeft {
  width: 21px;
  background: url(/assets/film/controls.png) left top repeat-y;
}

/* line 89, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxMiddleRight {
  width: 21px;
  background: url(/assets/film/controls.png) right top repeat-y;
}

/* line 93, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxTopCenter {
  height: 21px;
  background: url(/assets/film/border.png) 0 0 repeat-x;
}

/* line 97, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxBottomCenter {
  height: 21px;
  background: url(/assets/film/border.png) 0 -29px repeat-x;
}

/* line 101, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxContent {
  background: #fff;
  overflow: hidden;
}

/* line 105, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.cboxIframe {
  background: #fff;
}

/* line 108, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 112, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxLoadedContent {
  margin-bottom: 28px;
}

/* line 115, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxTitle {
  position: absolute;
  bottom: 4px;
  left: 0;
  text-align: center;
  width: 100%;
  color: #949494;
}

/* line 123, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxCurrent {
  position: absolute;
  bottom: 4px;
  left: 58px;
  color: #949494;
}

/* line 129, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef;
}

/* line 135, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxPrevious {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(/assets/film/controls.png) no-repeat -75px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 144, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxPrevious:hover {
  background-position: -75px -25px;
}

/* line 147, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxNext {
  position: absolute;
  bottom: 0;
  left: 27px;
  background: url(/assets/film/controls.png) no-repeat -50px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 156, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxNext:hover {
  background-position: -50px -25px;
}

/* line 159, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxLoadingOverlay {
  background: url(/assets/film/loading_background.png) no-repeat center center;
}

/* line 162, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxLoadingGraphic {
  background: url(/assets/film/loading.gif) no-repeat center center;
}

/* line 165, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxClose {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(/assets/film/controls.png) no-repeat -25px 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px;
}

/* line 174, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#cboxClose:hover {
  background-position: -25px -25px;
}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
/* line 182, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
/*
.cboxIE6 #cboxTopLeft {
	background:url(/assets/film/ie6/borderTopLeft.png);
}
.cboxIE6 #cboxTopCenter {
	background:url(/assets/film/ie6/borderTopCenter.png);
}
.cboxIE6 #cboxTopRight {
	background:url(/assets/film/ie6/borderTopRight.png);
}
.cboxIE6 #cboxBottomLeft {
	background:url(/assets/film/ie6/borderBottomLeft.png);
}
.cboxIE6 #cboxBottomCenter {
	background:url(/assets/film/ie6/borderBottomCenter.png);
}
.cboxIE6 #cboxBottomRight {
	background:url(/assets/film/ie6/borderBottomRight.png);
}
.cboxIE6 #cboxMiddleLeft {
	background:url(/assets/film/ie6/borderMiddleLeft.png);
}
.cboxIE6 #cboxMiddleRight {
	background:url(/assets/film/ie6/borderMiddleRight.png);
}
*/
/* line 215, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
  _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

/* line 221, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

/* line 223, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
body, html {
  height: 100%;
}

/* line 225, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
body {
  font-size: 12px;
  line-height: 22px;
  font-family: arial, sans-serif;
  color: #fff;
  background: url(/assets/film/body.png) repeat 0 0;
  min-width: 980px;
}

/* line 234, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
a {
  color: #0252aa;
  text-decoration: none;
  cursor: pointer;
}

/* line 235, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
a:hover {
  text-decoration: underline;
}

/* line 236, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
a img {
  border: 0;
}

/* line 238, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
article, aside, details, header, menu, nav, section {
  display: block;
}

/* line 239, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
input, textarea, select {
  font-size: 12px;
  font-family: arial, sans-serif;
}

/* line 240, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
textarea {
  overflow: auto;
}

/* line 242, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.cl {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}

/* line 243, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.notext {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}

/* line 244, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.left, .alignleft {
  float: left;
  display: inline;
}

/* line 245, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.right, .alignright {
  float: right;
  display: inline;
}

/* line 247, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.shell {
  width: 980px;
  margin: 0 auto;
}

/* line 248, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.light-bg {
  background: url(/assets/film/light.png) no-repeat center 0;
}

/* line 250, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#wrapper {
  background: url(/assets/film/wrapper.png) repeat-x 0 0;
}

/* line 251, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.header {
  padding-top: 17px;
  position: relative;
}

/* line 252, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.socials {
  position: absolute;
  top: 0;
  right: -10px;
  width: 85px;
}

/* line 253, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.socials a {
  background: url(/assets/film/socials.png) no-repeat 0 0;
  width: 19px;
  height: 19px;
  float: left;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  margin: -6px 7px 0 0;
  position: relative;
  transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -webkit-transition: margin 0.2s;
  -o-transition: margin 0.2s;
}

/* line 259, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.socials a.facebook-ico {
  background-position: 0px 0;
}

/* line 260, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.socials a.twitter-ico {
  background-position: -20px 0;
}

/* line 261, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.socials a.you-tube-ico {
  background-position: -60px 0;
}

/* line 262, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.socials a:hover {
  margin-top: 0;
}

/* line 264, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#logo {
  width: 272px;
  font-size: 0;
  line-height: 0;
  float: left;
  margin-top: 0px;
}

/* line 265, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#logo a {
  height: 75px;
  background: url(/assets/film/logo.png);
  text-indent: -4000px;
  display: block;
}

/* line 267, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation {
  width: 669px;
  height: 66px;
  padding: 6px 7px 0 8px;
  margin-top: 10px;
  position: relative;
  margin-right: -5px;
  background: url(/assets/film/navigation.png) no-repeat 0 0;
  font-family: 'coolvetica', arial, helvetica, serif;
  font-size: 16px;
  color: #fff;
  float: right;
}

/* line 268, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul {
  list-style: none;
  list-style-position: outside;
  line-height: 49px;
}

/* line 269, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li {
  float: left;
  background: url(/assets/film/navigation-border.png) no-repeat right 0;
  padding-right: 2px;
}

/* line 270, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li a {
  display: block;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px;
  padding: 0 36px;
  position: relative;
}

/* line 271, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li a:hover,
#navigation ul li.last a:hover {
  background: url(/assets/film/navigation-hover.png) repeat-x 0 0;
  text-decoration: none;
}

/* line 273, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li.last {
  background: transparent;
  padding-right: 0;
}

/* line 274, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li.last a {
  padding-right: 33px;
  padding-left: 33px;
  border-right: 0;
  background: transparent;
}

/* line 275, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li a span {
  background: url(/assets/film/lates-ico.png) no-repeat 0 0;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  text-shadow: rgba(255, 255, 255, 0.9) 0px 1px 0px;
  width: 39px;
  height: 39px;
  position: absolute;
  top: -17px;
  right: 0;
  text-align: center;
  line-height: 39px;
  font-size: 14px;
  color: #383838;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

/* line 283, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#navigation ul li a:hover span {
  display: block;
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* line 287, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.main {
  padding-top: 20px;
  padding-bottom: 50px;
  background: url(/assets/film/main-shadow.png) no-repeat center bottom;
}

/* line 288, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.main h3 {
  color: #1cfe10;
  font-size: 20px;
  font-family: 'coolvetica', arial, helvetica, serif;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;
}

/* line 289, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.main h2 {
  color: #1cfe10;
  font-size: 22px;
  font-family: 'coolvetica', arial, helvetica, serif;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;
}

/* line 290, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.main h2 a {
  color: #1cfe10;
}

/* line 291, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.main h2 a:hover {
  text-decoration: none;
  color: #0acc00;
}

/* line 292, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.content {
  width: 672px;
  float: right;
}

/* line 294, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post {
  background: url(/assets/film/widget-bg.png) repeat 0 0;
  margin-bottom: 30px;
  padding: 2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/* line 295, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner {
  background: url(/assets/film/patern.png) repeat 0 0;
  padding: 18px 15px 20px 17px;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
  -o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
}

/* line 298, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner header {
  padding-bottom: 16px;
}

/* line 300, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner .img-holder {
  background: url(/assets/film/widget-bg.png) repeat 0 0;
  padding: 2px;
  position: relative;
  display: block;
  margin-bottom: 14px;
}

/* line 301, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner .img-holder img {
  display: block;
}

/* line 302, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner .img-holder a.btn-full-image {
  display: block;
  position: absolute;
  bottom: 11px;
  right: 5px;
  width: 89px;
  height: 25px;
  color: #1cfe10;
  font-size: 10px;
  line-height: 25px;
  padding: 0 0px 0 13px;
  background: url(/assets/film/btn-full-image.png) no-repeat 0 0;
}

/* line 303, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner .img-holder a.btn-full-image span {
  padding-right: 22px;
  background: url(/assets/film/full-ico.png) no-repeat right 0;
}

/* line 304, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner .img-holder a.btn-full-image:hover {
  color: #0acc00;
  text-decoration: none;
}

/* line 306, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner h2 {
  float: left;
}

/* line 307, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner p.tags {
  float: right;
  font-size: 11px;
  color: #e5e5e5;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
}

/* line 308, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner p.tags a {
  color: #e5e5e5;
  background: url(/assets/film/list-arr.png) no-repeat 0 4px;
  padding-left: 9px;
  margin-left: 15px;
}

/* line 309, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post-inner p.tags a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 311, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta {
  font-size: 9px;
  color: #bdbdbd;
  text-transform: uppercase;
  padding-bottom: 13px;
}

/* line 312, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta .right {
  width: 225px;
}

/* line 313, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta p.date {
  color: #838383;
  float: left;
}

/* line 314, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta p.date a {
  text-decoration: underline;
  color: #dbdbdb;
}

/* line 315, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta p.date a:hover {
  text-decoration: none;
}

/* line 316, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta a.comments {
  float: right;
  color: #bdbdbd;
  background: url(/assets/film/comments-ico.png) no-repeat 0 8px;
  padding-left: 16px;
}

/* line 317, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta .rating-holder {
  float: left;
}

/* line 318, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta .rating-holder p {
  float: left;
}

/* line 319, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta .rating {
  float: left;
  background: url(/assets/film/rating.png) no-repeat 0 0;
  width: 85px;
  height: 15px;
  margin-top: 4px;
  margin-left: 4px;
  position: relative;
}

/* line 320, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .meta .rating span {
  background: url(/assets/film/rating.png) no-repeat 0 bottom;
  height: 15px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 322, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post .post-cnt p {
  padding-bottom: 10px;
}

/* line 323, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post a.more {
  color: #1cfe10;
  background: url(/assets/film/list-arr.png) no-repeat 0 4px;
  padding-left: 9px;
}

/* line 324, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.post a.more:hover {
  color: #0acc00;
  text-decoration: none;
}

/* line 326, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar {
  width: 292px;
  float: left;
}

/* line 327, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget {
  background: url(/assets/film/widget-bg.png) repeat 0 0;
  margin-bottom: 30px;
  padding: 2px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

/* line 328, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget h3.widgettitle {
  background: url(/assets/film/widget-title.png) no-repeat 0 0;
  height: 53px;
  line-height: 53px;
  padding-left: 27px;
}

/* line 329, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget ul {
  list-style: none;
  list-style-position: outside;
  background: #171717;
  font-size: 14px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 3px;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
  -o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.6) inset;
}

/* line 330, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget li {
  background: url(/assets/film/border-list.png) repeat-x 0 0;
}

/* line 331, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget li.first {
  background: transparent;
}

/* line 332, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget li a {
  display: block;
  padding: 8px 65px 8px 43px;
  color: #fff;
  position: relative;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;
  background: url(/assets/film/list-arr.png) no-repeat 30px 16px;
}

/* line 333, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget li a strong {
  color: #b9b9b9;
  font-weight: normal;
  position: absolute;
  right: 0;
  top: 10px;
  width: 55px;
  font-size: 12px;
}

/* line 334, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .widget li a:hover {
  background-color: #2f2f2f;
  text-decoration: none;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4) inset;
  -moz-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4) inset;
  -o-box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.4) inset;
}

/* line 336, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget ul li a {
  margin-top: 0;
  position: relative;
  background: transparent;
  padding: 8px 65px 8px 57px;
}

/* line 337, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget ul li a span {
  background: url(assets/film/socials.png) no-repeat 0 0;
  width: 19px;
  height: 19px;
  position: absolute;
  top: 10px;
  left: 29px;
}

/* line 338, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget a.facebook-ico span {
  background-position: 0px 0;
}

/* line 339, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget a.twitter-ico span {
  background-position: -20px 0;
}

/* line 340, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget a.linkedin-ico span {
  background-position: -39px 0;
}

/* line 341, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget a.you-tube-ico span {
  background-position: -60px 0;
}

/* line 342, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.sidebar .socials-widget a.rss-ico span {
  background-position: -79px 0;
}

/* line 345, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.img-holder {
  width: 150px;
}

/* line 350, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.pagination ul {
  list-style: none;
  list-style-position: outside;
  line-height: 12px;
}

/* line 354, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
.custom {
  width: 78px !important;
}

/* line 360, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
#logo
.modal-title {
  color: black;
  width: 150px;
  font-size: 35px;
}

/* line 372, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
td {
  color: black;
  font-size: 15px;
}

/* line 379, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
div .insert_text {
  color: black;
}

/* line 381, /home/oleg/cinemalast/app/assets/stylesheets/home.scss */
th {
  color: black;
  padding-bottom: 50px;
}
