<div class="row">
<%@films.each do |film|%>

<script type="text/javascript">

$(document).ready(function(){
 
});

</script>

  <% unless params[:page]%>
    <div class="image_game_one">
              <div class="col-md-2">
              <div class="image_game">    
               <div class="new"></div>     
              <%= link_to image_tag(film.uploaded_file, width: 160), film_path(film)%>
            </div>
            
             </div>
            
               </div>

          <%end%>
  <%end%>
  <%@films_else.each do |film_el|%>

<div class="image_game_one">
          <div class="col-md-2">
          <div class="image_game">    
          
          <%= link_to image_tag(film_el.uploaded_file, width: 160), film_path(film_el)%>
        </div>
        
         </div>
        
           </div>

      <%end%>      
 </div>

       