<%@films.each do |film|%>
        <a class="game_preview">     
          <%= link_to image_tag(film.uploaded_file), film_path(film), class: "game_preview"%> 
        <div class="new">
        </div>
          <div class="game_preview_title"><%=film.title%>
          </div>
        </a>
      <%end%>   