<div class="">
  <nav class="-nav">
    <ul>
      <li><a href="#">Show All</a></li>
      <li><a href="#">Latest Movies</a></li>
      <li><a href="#">Top Rated</a></li>
      <li><a href="#">Most Commented</a></li>
    </ul>
  </nav>
  <p class="copy">Copyright &copy; 2012 <span>|</span> Sitename. Design by <a target="_blank" href="http://chocotemplates.com">ChocoTemplates</a></p>
</div>