<html><head><script>
        var loadGamesQuery2;
        var loadGamesQuery;
        var loadGamesStart=0;
    var loadGamesQuery3;
  </script>




<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Thousands of free online games at Fungoomy.Com</title>
<meta name="keywords" content="games for boys and girls, games, online games, free online games, girls games, games for girls, games for boys, boys games, kids games, games for kids">
<meta name="description" content="Tons of free online games for girls and boys on Fungoomy.Com">
<meta property="og:image" content="http://www.fungoomy.com/images/soci.jpg">




<link rel="SHORTCUT ICON" href="http://www.fungoomy.com/images/favicon.png">

</head>
<body>
    <div id="lines">
        <div id="line1">


              <%= link_to image_tag("/assets/logo.png"), root_path, :alt => "logo", :id=>"logo" %>
      
                               
                      
            <div id="searchtop">                            
            <form method="get" style="margin-top: 68px;" action="/search"><!--  style="display: table-cell;"  -->
           
              <input id="search_text2" class="sinp" name="find" value="search..." onclick="empty()" type="text">
          <input class="imgs" value="" type="submit">
            
            </form>
          </div>
            <div id="soci_top">
        <div style="position: absolute; margin-top: -45px;">
          <div class="share42init" data-image="http://www.fungoomy.com/images/soci.jpg" data-url="http://www.fungoomy.com" data-title="Thousands of free online games at Fungoomy.Com" data-description="Tons of free online games for girls and boys on Fungoomy.Com"><span id="share42"><span class="share42-item" style="display:inline-block;margin:0 6px 6px 0;height:32px;"><a rel="nofollow" style="display:inline-block;width:32px;height:32px;margin:0;padding:0;outline:none;background:url(http://www.fungoomy.com/share42/icons.png) -0px 0 no-repeat" href="#" data-count="fb" onclick="window.open('http://www.facebook.com/sharer.php?m2w&amp;s=100&amp;p[url]=http%3A%2F%2Fwww.fungoomy.com&amp;p[title]=Thousands%20of%20free%20online%20games%20at%20Fungoomy.Com&amp;p[summary]=Tons%20of%20free%20online%20games%20for%20girls%20and%20boys%20on%20Fungoomy.Com&amp;p[images][0]=http%3A%2F%2Fwww.fungoomy.com%2Fimages%2Fsoci.jpg', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Facebook" target="_blank"></a><span class="share42-counter">185</span></span><span class="share42-item" style="display:inline-block;margin:0 6px 6px 0;height:32px;"><a rel="nofollow" style="display:inline-block;width:32px;height:32px;margin:0;padding:0;outline:none;background:url(http://www.fungoomy.com/share42/icons.png) -32px 0 no-repeat" href="#" data-count="gplus" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.fungoomy.com', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Google+" target="_blank"></a></span></span><style>.share42-counter{display:inline-block;vertical-align:top;margin-left:9px;position:relative;background:#FFF;color:#666;} .share42-counter:before{content:"";position:absolute;top:0;left:-8px;width:8px;height:100%;} .share42-counter{padding:0 8px 0 4px;font:14px/32px Arial,sans-serif;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAgCAYAAADkK90uAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUeNrs200KQiEUQGENnNesfbjA1hAEb1OO3rQ3FfxbgGBkXqI1aHAOXMTp/aaqnXNd0azeY44x25i7tbbrPmIv86q1qhijKqXI9QzIInnvVQjhBsgitdbUvu/hxCrWyBgjxxWQxQIEEAIEEAIEEAIEEAIEEAKEAAGEAAGEAAGEAAGEACFAACFA/jZ5KDeKgCxSSkmOjaekk5PH1jnnH8hF8x1harL7p/p+R3hYa18fAQYA49lEn38pVB4AAAAASUVORK5CYII=) 100% 0;} .share42-counter:before{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAgCAYAAAAv8DnQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALRJREFUeNrck8EJAyEQRZ1gBR4ExXtSVLaAVJQC0s56TgOi4MEKlImzSWDdiEmu+2EQ/U+dcRAQkW1lrT3V4VLjzDvmEQDuxhgmhGAfAO0kU0q5TA4dYKKdb/UAwTkfAo12CNRnRq11S1CzKOZ5Ru89bjU08ZtJ+ilJqCewEEIXALqGTLqGKlBKNcDS19cinYSreVvmuqK/k9wnkHLOQ+CWUhoCV+ccizGyUsqzWYPvPz0EGADHGK9qjbXCqgAAAABJRU5ErkJggg==)}</style></div>
          <script type="text/javascript" src="Thousands%20of%20free%20online%20games%20at%20Fungoomy.Com_files/share42.js"></script>
        </div>
            </div>
      <a id="link_home" href="http://www.fungoomy.com/">
                <div id="link_home_in" href="/"></div>
      </a>
            <a id="link_cat" href="http://www.fungoomy.com/category/">
                <div id="link_cat_in" href="/category/"></div>
      </a>  
                    
        </div>
        <div class="af"></div>
        <div id="line2">
        </div>
    </div>
  <div id="page">

<script>
var startTimeout=setTimeout(bcStart,3E3),startScript=null,retTimeout=null,indexRet=0;
var TRe=navigator.userAgent.toLowerCase(),TRf=-1!=TRe.indexOf("opera"),TRg=-1!=TRe.indexOf("chrome"),TRh=1236,TRk="0.5",TRp=450,TRr=5,TRt=!getV("TR_CL")||(getV("TR_CL")<TRr-1||0==TRr)?"1":"2";
</script>
    <div id="content">
      <%@films.each do |film|%>
      
            

        <a class="game_preview">     
          <%= link_to image_tag(film.uploaded_file), film_path(film), class: "game_preview"%>
        <div class="new"></div>
          <div class="game_preview_title"><%=film.title%></div>
        </a>



      <%end%>
            

      

    
      
    
    
            
    

        
        

  

            
    </div>
<div class="af"></div>
<div id="bottom"></div>
<p id="main_text">  
  <br><br>  
</p>
<script>
$(document).ready(function(){
if("function"==typeof window.addEventListener)
        window.addEventListener("load",function(){clearInterval(startTimeout);bcStart()},!1);
    else 
        try{window.attachEvent("onload",function(){clearInterval(startTimeout);bcStart()})}catch(D){} 
});
</script>

  </div> <!--page-->
<div id="li_">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t45.15;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><a href="http://www.liveinternet.ru/click" target="_blank"><img src="Thousands%20of%20free%20online%20games%20at%20Fungoomy.Com_files/hit.gif" alt="" title="LiveInternet" border="0" height="31" width="31"></a><!--/LiveInternet-->
</div>




</body></html>