<%#= link_to "registration", new_user_registration_path  %>
<%if current_user.present?%>
<%= link_to "logout", destroy_user_session_path, :method => :delete%>
<%end%>
    <div id="content">
      
         <%=render("home/all_film")%>
  
    </div>


     <div class="pagination">
        <%= will_paginate(@films) %> 
      </div> 


<div class="af"></div>
<div id="bottom"></div>
<p id="main_text">  
  <br><br>  
</p>


  </div> <!--page-->





</body></html>