// Place all the styles related to the Films controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper {
  position:absolute;
  top:0;
  left:0;
  z-index:9999;
  overflow:hidden;
}
#cboxOverlay {
  position:fixed;
  width:100%;
  height:100%;
}
#cboxMiddleLeft, #cboxBottomLeft {
  clear:left;
}
#cboxContent {
  position:relative;
}
#cboxLoadedContent {
  overflow:auto;
}
#cboxTitle {
  margin:0;
}
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor:pointer;
}
.cboxPhoto {
  float:left;
  margin:auto;
  border:0;
  display:block;
}
.cboxIframe {
  width:100%;
  height:100%;
  display:block;
  border:0;
}
/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay {
  background:url(/assets/film/overlay.png) repeat 0 0;
}
#colorbox {
}
#cboxTopLeft {
  width:21px;
  height:21px;
  background:url(/assets/film/controls.png) no-repeat -101px 0;
}
#cboxTopRight {
  width:21px;
  height:21px;
  background:url(/assets/film/controls.png) no-repeat -130px 0;
}
#cboxBottomLeft {
  width:21px;
  height:21px;
  background:url(/assets/film/controls.png) no-repeat -101px -29px;
}
#cboxBottomRight {
  width:21px;
  height:21px;
  background:url(/assets/film/controls.png) no-repeat -130px -29px;
}
#cboxMiddleLeft {
  width:21px;
  background:url(/assets/film/controls.png) left top repeat-y;
}
#cboxMiddleRight {
  width:21px;
  background:url(/assets/film/controls.png) right top repeat-y;
}
#cboxTopCenter {
  height:21px;
  background:url(/assets/film/border.png) 0 0 repeat-x;
}
#cboxBottomCenter {
  height:21px;
  background:url(/assets/film/border.png) 0 -29px repeat-x;
}
#cboxContent {
  background:#fff;
  overflow:hidden;
}
.cboxIframe {
  background:#fff;
}
#cboxError {
  padding:50px;
  border:1px solid #ccc;
}
#cboxLoadedContent {
  margin-bottom:28px;
}
#cboxTitle {
  position:absolute;
  bottom:4px;
  left:0;
  text-align:center;
  width:100%;
  color:#949494;
}
#cboxCurrent {
  position:absolute;
  bottom:4px;
  left:58px;
  color:#949494;
}
#cboxSlideshow {
  position:absolute;
  bottom:4px;
  right:30px;
  color:#0092ef;
}
#cboxPrevious {
  position:absolute;
  bottom:0;
  left:0;
  background:url(/assets/film/controls.png) no-repeat -75px 0;
  width:25px;
  height:25px;
  text-indent:-9999px;
}
#cboxPrevious:hover {
  background-position:-75px -25px;
}
#cboxNext {
  position:absolute;
  bottom:0;
  left:27px;
  background:url(/assets/film/controls.png) no-repeat -50px 0;
  width:25px;
  height:25px;
  text-indent:-9999px;
}
#cboxNext:hover {
  background-position:-50px -25px;
}
#cboxLoadingOverlay {
  background:url(/assets/film/loading_background.png) no-repeat center center;
}
#cboxLoadingGraphic {
  background:url(/assets/film/loading.gif) no-repeat center center;
}
#cboxClose {
  position:absolute;
  bottom:0;
  right:0;
  background:url(/assets/film/controls.png) no-repeat -25px 0;
  width:25px;
  height:25px;
  text-indent:-9999px;
}
#cboxClose:hover {
  background-position:-25px -25px;
}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft, .cboxIE #cboxTopCenter, .cboxIE #cboxTopRight, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomCenter, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight {
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}
/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
/*
.cboxIE6 #cboxTopLeft {
  background:url(/assets/film/ie6/borderTopLeft.png);
}
.cboxIE6 #cboxTopCenter {
  background:url(/assets/film/ie6/borderTopCenter.png);
}
.cboxIE6 #cboxTopRight {
  background:url(/assets/film/ie6/borderTopRight.png);
}
.cboxIE6 #cboxBottomLeft {
  background:url(/assets/film/ie6/borderBottomLeft.png);
}
.cboxIE6 #cboxBottomCenter {
  background:url(/assets/film/ie6/borderBottomCenter.png);
}
.cboxIE6 #cboxBottomRight {
  background:url(/assets/film/ie6/borderBottomRight.png);
}
.cboxIE6 #cboxMiddleLeft {
  background:url(/assets/film/ie6/borderMiddleLeft.png);
}
.cboxIE6 #cboxMiddleRight {
  background:url(/assets/film/ie6/borderMiddleRight.png);
}
*/
.cboxIE6 #cboxTopLeft, .cboxIE6 #cboxTopCenter, .cboxIE6 #cboxTopRight, .cboxIE6 #cboxBottomLeft, .cboxIE6 #cboxBottomCenter, .cboxIE6 #cboxBottomRight, .cboxIE6 #cboxMiddleLeft, .cboxIE6 #cboxMiddleRight {
 _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}



@font-face {
    font-family: 'coolvetica';
    src: url('fonts/coolvetica_rg-webfont.eot');
    src: url('fonts/coolvetica_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/coolvetica_rg-webfont.woff') format('woff'),
         url('fonts/coolvetica_rg-webfont.ttf') format('truetype'),
         url('fonts/coolvetica_rg-webfont.svg#coolvetica_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

body {
    font-size: 12px;
    line-height: 22px;
    font-family: arial, sans-serif;
    color: #fff;
    background: url(/assets/film/body.png) repeat 0 0;
    min-width: 980px;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

article, aside, details, , header, menu, nav, section { display: block; }
input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

.shell { width: 980px; margin: 0 auto; }
.light-bg { background: url(/assets/film/light.png) no-repeat center 0; }

#wrapper { background: url(/assets/film/wrapper.png) repeat-x 0 0; }
.header { padding-top: 17px; position: relative; }
.socials { position: absolute; top: 0; right: -10px; width: 85px; }
.socials a { background: url(/assets/film/socials.png) no-repeat 0 0; width: 19px; height: 19px; float: left; font-size: 0; line-height: 0; text-indent: -4000px; margin: -6px 7px 0 0; position: relative;  
  transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -webkit-transition: margin 0.2s;
  -o-transition: margin 0.2s;
}
.socials a.facebook-ico { background-position: 0px 0; }
.socials a.twitter-ico { background-position: -20px 0; }
.socials a.you-tube-ico { background-position: -60px 0; }
.socials a:hover { margin-top: 0; }

#logo { width: 272px; font-size: 0; line-height: 0; float: left; }
#logo a { height: 75px; background: url(/assets/film/logo.png) no-repeat 0 0; text-indent: -4000px; display: block; }

#navigation { width: 669px; height: 66px; padding: 6px 7px 0 8px; margin-top: 10px; position: relative; margin-right: -5px;  background: url(/assets/film/navigation.png) no-repeat 0 0; font-family: 'coolvetica', arial, helvetica, serif; font-size: 16px; color: #fff; float: right; }
#navigation ul { list-style: none; list-style-position: outside; line-height: 49px; }
#navigation ul li { float: left; background: url(/assets/film/navigation-border.png) no-repeat right 0; padding-right: 2px;  }
#navigation ul li a { display: block; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 2px 2px; padding: 0 36px; position: relative; }
#navigation ul li a:hover,
#navigation ul li.last a:hover { background: url(/assets/film/navigation-hover.png) repeat-x 0 0; text-decoration: none; }
#navigation ul li.last { background: transparent; padding-right: 0;  }
#navigation ul li.last a { padding-right: 33px; padding-left: 33px; border-right: 0; background: transparent; }
#navigation ul li a span { background: url(/assets/film/lates-ico.png) no-repeat 0 0; opacity: 0;
-moz-opacity: 0;
filter:alpha(opacity=0); text-shadow: rgba(255,255,255,0.9) 0px 1px 0px; width: 39px; height: 39px; position: absolute; top: -17px; right: 0; text-align: center; line-height: 39px; font-size: 14px; color: #383838; 
    transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
}
#navigation ul li a:hover span { display: block; opacity: 1;
-moz-opacity: 1;
filter:alpha(opacity=100);}

.main { padding-top: 20px; padding-bottom: 50px;  background: url(/assets/film/main-shadow.png) no-repeat center bottom; }
.main h3 { color: #1cfe10; font-size: 20px; font-family: 'coolvetica', arial, helvetica, serif; font-weight: normal; text-shadow: rgba(0,0,0,0.9) 0px 0px 2px; }
.main h2 { color: #1cfe10; font-size: 22px; font-family: 'coolvetica', arial, helvetica, serif; font-weight: normal; text-shadow: rgba(0,0,0,0.9) 0px 0px 2px; }
.main h2 a { color: #1cfe10; }
.main h2 a:hover { text-decoration: none; color: #0acc00;  }
.content { width: 672px; float: right; }

.post { background: url(/assets/film/widget-bg.png) repeat 0 0; margin-bottom: 30px;  padding: 2px; box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);   }
.post-inner { background: url(/assets/film/patern.png) repeat 0 0; padding: 18px 15px 20px 17px;  
    text-shadow: rgba(0,0,0,0.5) 0px 0px 3px; box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset;  
}
.post-inner header { padding-bottom: 16px;  }

.post-inner .img-holder { background: url(/assets/film/widget-bg.png) repeat 0 0; padding: 2px; position: relative; display: block; margin-bottom: 14px;  }
.post-inner .img-holder img { display: block; }
.post-inner .img-holder a.btn-full-image { display: block; position: absolute; bottom: 11px; right: 5px;  width: 89px; height: 25px; color: #1cfe10; font-size: 10px; line-height: 25px; padding: 0 0px 0 13px; background: url(/assets/film/btn-full-image.png) no-repeat 0 0; }
.post-inner .img-holder a.btn-full-image span { padding-right: 22px; background: url(/assets/film/full-ico.png) no-repeat right 0; }
.post-inner .img-holder a.btn-full-image:hover { color: #0acc00; text-decoration: none; }

.post-inner h2 { float: left; }
.post-inner p.tags { float: right; font-size: 11px; color: #e5e5e5; text-shadow: rgba(0,0,0,0.9) 0px 1px 0px;}
.post-inner p.tags a { color: #e5e5e5; background: url(/assets/film/list-arr.png) no-repeat 0 4px; padding-left: 9px; margin-left: 15px; }
.post-inner p.tags a:hover { color: #fff; text-decoration: none; }

.post .meta { font-size: 9px; color: #bdbdbd; text-transform: uppercase; padding-bottom: 13px; }
.post .meta .right { width: 225px; }
.post .meta p.date { color: #838383; float: left; }
.post .meta p.date a { text-decoration: underline; color: #dbdbdb; }
.post .meta p.date a:hover { text-decoration: none; }
.post .meta a.comments { float: right; color: #bdbdbd; background: url(/assets/film/comments-ico.png) no-repeat 0 8px; padding-left: 16px; }
.post .meta .rating-holder { float: left; }
.post .meta .rating-holder p { float: left; }
.post .meta .rating { float: left; background: url(/assets/film/rating.png) no-repeat 0 0; width: 85px; height: 15px; margin-top: 4px; margin-left: 4px; position: relative;  }
.post .meta .rating span { background: url(/assets/film/rating.png) no-repeat 0 bottom; height: 15px; display: block; position: absolute; top: 0; left: 0; }

.post .post-cnt p { padding-bottom: 10px;  }
.post a.more { color: #1cfe10; background: url(/assets/film/list-arr.png) no-repeat 0 4px; padding-left: 9px; }
.post a.more:hover { color: #0acc00; text-decoration: none; }

.sidebar { width: 292px; float: left; }
.sidebar .widget { background: url(/assets/film/widget-bg.png) repeat 0 0; margin-bottom: 30px;  padding: 2px; box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.4); -o-box-shadow: 0px 0px 15px rgba(0,0,0,0.4);  }
.sidebar .widget h3.widgettitle { background: url(/assets/film/widget-title.png) no-repeat 0 0; height: 53px; line-height: 53px; padding-left: 27px; }
.sidebar .widget ul { list-style: none; list-style-position: outside; background: #171717; font-size: 14px; color: #fff; text-shadow: rgba(0,0,0,0.5) 0px 0px 3px; box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset; -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.6) inset;  }
.sidebar .widget li { background: url(/assets/film/border-list.png) repeat-x 0 0; }
.sidebar .widget li.first { background: transparent }
.sidebar .widget li a { display: block; padding: 8px 65px 8px 43px; color: #fff; position: relative; text-shadow: rgba(0,0,0,0.9) 0px 0px 2px; background: url(/assets/film/list-arr.png) no-repeat 30px 16px;}
.sidebar .widget li a strong { color: #b9b9b9; font-weight: normal; position: absolute; right: 0; top: 10px; width: 55px; font-size: 12px;  }
.sidebar .widget li a:hover { background-color: #2f2f2f; text-decoration: none; box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset; -moz-box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset; -webkit-box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset; -o-box-shadow: 0px 0px 14px rgba(0,0,0,0.4) inset;  }

.sidebar .socials-widget ul li a { margin-top: 0; position: relative; background: transparent; padding: 8px 65px 8px 57px; }
.sidebar .socials-widget ul li a span { background: url(assets/film/socials.png) no-repeat 0 0; width: 19px; height: 19px; position: absolute; top: 10px; left: 29px;  }
.sidebar .socials-widget a.facebook-ico span  { background-position: 0px 0; }
.sidebar .socials-widget a.twitter-ico span { background-position: -20px 0; }
.sidebar .socials-widget a.linkedin-ico span  { background-position: -39px 0; }
.sidebar .socials-widget a.you-tube-ico span { background-position: -60px 0; }
.sidebar .socials-widget a.rss-ico  span { background-position: -79px 0; }

 
.img-holder { width: 150px;


}

.pagination ul { list-style: none; list-style-position: outside; line-height: 12px;  }



.custom {
    width: 78px !important;
}





. { padding-bottom: 125px; }
.:after { content:''; display: block; width: 100%; clear: both; font-size: 0; line-height: 0; text-indent: -4000px; }

.-nav { float: left; }
.-nav ul { list-style: none; list-style-position: outside;  }
.-nav ul li { float: left; line-height: 11px;  border-left: 1px solid #616161; padding: 0 10px; }
.-nav ul li a { color: #989898; }
.-nav ul li a:hover { color: #fff; text-decoration: none; }
.-nav ul li.first { padding-left: 0; border: 0; }

. p.copy { float: right; color: #989898; font-size: 11px;  line-height: 11px; }
. p.copy span { padding: 0 10px; color: #616161; }
. p.copy a { color: #e0e0e0; text-decoration: underline; }
. p.copy a:hover { color: #fff; text-decoration: none; }


.modal-title
{
  color: black;
  
     font-size: 35px;

}

  td {
    color: black;
  
     font-size: 15px;

}



