

       <html><head><script src="game_flash_files/ca-pub-3865870304158372.js"></script><script> var moveStar=1;</script>



<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Play Free Princess Elsa Dolphin Show</title>
<meta name="keywords" content="games for boys and girls, games, online games, free online games, girls games, games for girls, games for boys, boys games, kids games, games for kids">
<meta name="description" content="Tons of free online games for girls and boys on Fungoomy.Com">
<meta property="og:image" content="http://www.fungoomy.com/images/soci.jpg">
<link href="game_flash_files/style.css" rel="stylesheet" type="text/css">
<script>var root="/";var root_pictures="/pictures/";</script>

<script type="text/javascript" src="game_flash_files/jquery-2.js"></script>
<script src="game_flash_files/js.js"></script>
<script src="game_flash_files/swfobject.js"></script>
<link rel="SHORTCUT ICON" href="http://www.fungoomy.com/images/favicon.png">

<style media="screen" type="text/css">#GameEmbedDummy {visibility:hidden}</style></head>
<body>
    <div id="lines">
        <div id="line1">
            <a id="logo" href="http://www.fungoomy.com/">
                <img src="game_flash_files/logo.png">
      </a>                              
                      
            <div id="searchtop">                            
            <form method="get" style="margin-top: 68px;" action="/search"><!--  style="display: table-cell;"  -->
           
              <input id="search_text2" class="sinp" name="find" value="search..." onclick="empty()" type="text">
          <input class="imgs" value="" type="submit">
            
            </form>
          </div>
            <div id="soci_top">
        <div style="position: absolute; margin-top: -45px;">
          <div class="share42init" data-image="http://www.fungoomy.com/images/soci.jpg" data-url="http://www.fungoomy.com" data-title="Thousands of free online games at Fungoomy.Com" data-description="Tons of free online games for girls and boys on Fungoomy.Com"><span id="share42"><span class="share42-item" style="display:inline-block;margin:0 6px 6px 0;height:32px;"><a rel="nofollow" style="display:inline-block;width:32px;height:32px;margin:0;padding:0;outline:none;background:url(http://www.fungoomy.com/share42/icons.png) -0px 0 no-repeat" href="#" data-count="fb" onclick="window.open('http://www.facebook.com/sharer.php?m2w&amp;s=100&amp;p[url]=http%3A%2F%2Fwww.fungoomy.com&amp;p[title]=Thousands%20of%20free%20online%20games%20at%20Fungoomy.Com&amp;p[summary]=Tons%20of%20free%20online%20games%20for%20girls%20and%20boys%20on%20Fungoomy.Com&amp;p[images][0]=http%3A%2F%2Fwww.fungoomy.com%2Fimages%2Fsoci.jpg', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Facebook" target="_blank"></a><span class="share42-counter">185</span></span><span class="share42-item" style="display:inline-block;margin:0 6px 6px 0;height:32px;"><a rel="nofollow" style="display:inline-block;width:32px;height:32px;margin:0;padding:0;outline:none;background:url(http://www.fungoomy.com/share42/icons.png) -32px 0 no-repeat" href="#" data-count="gplus" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fwww.fungoomy.com', '_blank', 'scrollbars=0, resizable=1, menubar=0, left=100, top=100, width=550, height=440, toolbar=0, status=0');return false" title="Поделиться в Google+" target="_blank"></a></span></span><style>.share42-counter{display:inline-block;vertical-align:top;margin-left:9px;position:relative;background:#FFF;color:#666;} .share42-counter:before{content:"";position:absolute;top:0;left:-8px;width:8px;height:100%;} .share42-counter{padding:0 8px 0 4px;font:14px/32px Arial,sans-serif;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAgCAYAAADkK90uAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALVJREFUeNrs200KQiEUQGENnNesfbjA1hAEb1OO3rQ3FfxbgGBkXqI1aHAOXMTp/aaqnXNd0azeY44x25i7tbbrPmIv86q1qhijKqXI9QzIInnvVQjhBsgitdbUvu/hxCrWyBgjxxWQxQIEEAIEEAIEEAIEEAIEEAKEAAGEAAGEAAGEAAGEACFAACFA/jZ5KDeKgCxSSkmOjaekk5PH1jnnH8hF8x1harL7p/p+R3hYa18fAQYA49lEn38pVB4AAAAASUVORK5CYII=) 100% 0;} .share42-counter:before{background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAgCAYAAAAv8DnQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALRJREFUeNrck8EJAyEQRZ1gBR4ExXtSVLaAVJQC0s56TgOi4MEKlImzSWDdiEmu+2EQ/U+dcRAQkW1lrT3V4VLjzDvmEQDuxhgmhGAfAO0kU0q5TA4dYKKdb/UAwTkfAo12CNRnRq11S1CzKOZ5Ru89bjU08ZtJ+ilJqCewEEIXALqGTLqGKlBKNcDS19cinYSreVvmuqK/k9wnkHLOQ+CWUhoCV+ccizGyUsqzWYPvPz0EGADHGK9qjbXCqgAAAABJRU5ErkJggg==)}</style></div>
          <script type="text/javascript" src="game_flash_files/share42.js"></script>
        </div>
            </div>
      <a id="link_home" href="http://www.fungoomy.com/">
                <div id="link_home_in" href="/"></div>
      </a>
            <a id="link_cat" href="http://www.fungoomy.com/category/">
                <div id="link_cat_in" href="/category/"></div>
      </a>  
                    
        </div>
        <div class="af"></div>
        <div id="line2">
        </div>
    </div>
  <div id="page">

<table id="all_info">
<tbody style="">
    <tr>
        
        <td class="b160x600_1">
                <div class="text">advertisment</div>
                
<script async="" src="game_flash_files/adsbygoogle.js"></script>
<!-- FunGoomy 160x600 Left (3 page) -->
<ins data-adsbygoogle-status="done" class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-3865870304158372" data-ad-slot="2349473243"><ins id="aswift_0_expand" style="display:inline-table;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:160px;background-color:transparent"><ins id="aswift_0_anchor" style="display:block;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:160px;background-color:transparent"><iframe marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_0" name="aswift_0" style="left:0;position:absolute;top:0;" frameborder="0" height="600" width="160"></iframe></ins></ins></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


        </td>    
      <td class="side_game_1" style="padding-top: 14px;">
                
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/baby_rosy_flu_problems">
        
        
        
        <img src="game_flash_files/baby_rosy_flu_problems.jpg" alt="game Baby Rosy Flu Problems">
        <div class="game_preview_title">Baby Rosy Flu Problems</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/dora_sibling_care">
        
        
        
        <img src="game_flash_files/dora_sibling_care.jpg" alt="game Dora Sibling Care">
        <div class="game_preview_title">Dora Sibling Care</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/rapunzel_throat_doctor">
        
        
        
        <img src="game_flash_files/rapunzel_throat_doctor.jpg" alt="game Rapunzel Throat Doctor">
        <div class="game_preview_title">Rapunzel Throat Doctor</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/belle_and_ariel_car_wash">
        
        
        
        <img src="game_flash_files/belle_and_ariel_car_wash.jpg" alt="game Belle And Ariel Car Wash">
        <div class="game_preview_title">Belle And Ariel Car Wash</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/cinderella_baby_wash">
        
        
        
        <img src="game_flash_files/cinderella_baby_wash.jpg" alt="game Cinderella Baby Wash">
        <div class="game_preview_title">Cinderella Baby Wash</div>
      </a>
            
    
        </td>        

        <td style="padding-top: 14px;">
        <div id="game_zag" style="min-width:728px; min-height:439px;">

          <div id="title">Princess Elsa Dolphin Show</div>

          <div id="game" style="width:728px; height:409px;">
                  
              
                       
                              <embed src="<%= @film.down_file %>"
       type="application/x-shockwave-flash"
       allowScriptAccess="always" style="width:100%;height:100%;">

                                <object data="game_flash_files/princess_elsa_dolphin_show.swf" style="z-index:10" id="GameEmbedSWF" type="application/x-shockwave-flash" height="100%" width="100%"><param value="never" name="allowScriptAccess"><param value="internal" name="allowNetworking"><param value="." name="base"><param value="high" name="quality"><param value="window" name="wmode"></object>
                              
                            </div>
                                            
                
              
          </div>
        </div>
        </td>
        
        <td class="side_game_2" style="padding-top: 14px;">
                
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/how_to_train_your_dragon_swamp_accident">
        
        
        
        <img src="game_flash_files/how_to_train_your_dragon_swamp_accident.jpg" alt="game How to Train Your Dragon Swamp Accident">
        <div class="game_preview_title">How to Train Your Dragon Swamp Accident</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/crazy_eyes_doctor">
        
        
        
        <img src="game_flash_files/crazy_eyes_doctor.jpg" alt="game Crazy Eyes Doctor">
        <div class="game_preview_title">Crazy Eyes Doctor</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/rapunzel_swimming_pool">
        
        
        
        <img src="game_flash_files/rapunzel_swimming_pool.jpg" alt="game Rapunzel Swimming Pool">
        <div class="game_preview_title">Rapunzel Swimming Pool</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/baby_elephant_care">
        
        
        
        <img src="game_flash_files/baby_elephant_care.jpg" alt="game Baby Elephant Care">
        <div class="game_preview_title">Baby Elephant Care</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/baby_barbie_sports_injury">
        
        
        
        <img src="game_flash_files/baby_barbie_sports_injury.jpg" alt="game Baby Barbie Sports Injury">
        <div class="game_preview_title">Baby Barbie Sports Injury</div>
      </a>
            
    
        </td>
    <td class="b160x600_2">
                <div class="text">advertisment</div>
                
<script async="" src="game_flash_files/adsbygoogle.js"></script>
<!-- FunGoomy 160x600 Right (3 page) -->
<ins data-adsbygoogle-status="done" class="adsbygoogle" style="display:inline-block;width:160px;height:600px" data-ad-client="ca-pub-3865870304158372" data-ad-slot="8256406040"><ins id="aswift_1_expand" style="display:inline-table;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:160px;background-color:transparent"><ins id="aswift_1_anchor" style="display:block;border:none;height:600px;margin:0;padding:0;position:relative;visibility:visible;width:160px;background-color:transparent"><iframe marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_1" name="aswift_1" style="left:0;position:absolute;top:0;" frameborder="0" height="600" width="160"></iframe></ins></ins></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

        </td>
        
    </tr>
</tbody>
</table>
<div class="af"></div>
       <div align="center">
<script async="" src="game_flash_files/adsbygoogle.js"></script>
<!-- FunGoomy.Com 728x90 (3 page) -->
<ins data-adsbygoogle-status="done" class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3865870304158372" data-ad-slot="3686605648"><ins id="aswift_2_expand" style="display:inline-table;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent"><ins id="aswift_2_anchor" style="display:block;border:none;height:90px;margin:0;padding:0;position:relative;visibility:visible;width:728px;background-color:transparent"><iframe marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no" allowfullscreen="true" onload="var i=this.id,s=window.google_iframe_oncopy,H=s&amp;&amp;s.handlers,h=H&amp;&amp;H[i],w=this.contentWindow,d;try{d=w.document}catch(e){}if(h&amp;&amp;d&amp;&amp;(!d.body||!d.body.firstChild)){if(h.call){setTimeout(h,0)}else if(h.match){try{h=s.upd(h,i)}catch(e){}w.location.replace(h)}}" id="aswift_2" name="aswift_2" style="left:0;position:absolute;top:0;" frameborder="0" height="90" width="728"></iframe></ins></ins></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="af"></div>
<div id="more_game">        
    <div class="af"></div>
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/baby_hazel_cooking_time">
        
        
        
        <img src="game_flash_files/baby_hazel_cooking_time.jpg" alt="game Baby Hazel Cooking Time">
        <div class="game_preview_title">Baby Hazel Cooking Time</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/dragon_ball_skill_running">
        
        
        
        <img src="game_flash_files/dragon_ball_skill_running.jpg" alt="game Dragon Ball Skill Running">
        <div class="game_preview_title">Dragon Ball Skill Running</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/doras_haircuts">
        
        
        
        <img src="game_flash_files/doras_haircuts.jpg" alt="game Dora" s="" haircuts'="">
        <div class="game_preview_title">Dora's Haircuts</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/applejacks_weekend_on_the_beach">
        
        
        
        <img src="game_flash_files/applejacks_weekend_on_the_beach.jpg" alt="game Applejack’s Weekend On The Beach">
        <div class="game_preview_title">Applejack’s Weekend On The Beach</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/farmer_quest_2">
        
        
        
        <img src="game_flash_files/farmer_quest_2.jpg" alt="game Farmer Quest 2">
        <div class="game_preview_title">Farmer Quest 2</div>
      </a>
            
    
      <a class="game_preview_small" href="http://www.fungoomy.com/gameinf/elsa_fashion_day">
        
        
        
        <img src="game_flash_files/elsa_fashion_day.jpg" alt="game Elsa Fashion Day">
        <div class="game_preview_title">Elsa Fashion Day</div>
      </a>
            
    
</div>

  </div> <!--page-->
<div id="li_">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t45.15;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet' "+
"border='0' width='31' height='31'><\/a>")
//--></script><a href="http://www.liveinternet.ru/click" target="_blank"><img src="game_flash_files/hit.gif" alt="" title="LiveInternet" border="0" height="31" width="31"></a><!--/LiveInternet-->
</div>





</body></html>