body {
font-family: Verdana;
font-size: 12px;
margin: 0;
padding: 0;
/*background: url("images/bg.jpg") repeat-x scroll left top #C34D86;*/
background-color: #90EE51;
min-width: 1050px;
}

#adContainer {
	/*position: absolute;*/
	top: 0;
	bottom: 0;
	width: 100%;
	/*height: 80%;*/
	z-index: 1100;
}
#googleInfoBlock {
	/*position: absolute;*/
	top: 0;
	bottom: 0;
	width: 100%;
	background-image: url(../images/background_cover.png);
	z-index: 1200;
}

#infobody {
font-family: Verdana;
font-size: 12px;
margin: 0;
padding: 0;
}
td, th {
padding: 0;
font-weight: normal;
text-align: left;
}
p {
margin: 0;
}
img {
border: 0;
display: block;
}
table {
border-collapse: collapse;
font-family: Verdana;
font-size: 12px;
color: #545454;
line-height: 130%;
}
a {
color: #FE6D02;
text-decoration: none;
}
a:hover {
color: #000000;
text-decoration: none;
}
div {
margin: 0;
padding: 0;
}
input, textarea, select {
font-family: Verdana;
color: #777;
font-size: 12px;
padding-left: 2px;
border: 0;
}
font{
    font-size: 12px;
}
form {
margin: 0;
}
h1{
font-family: Verdana;
font-size: 13px;
color: #68B201;
margin: 0;
padding: 0;
text-align: center;
}
hr {
margin: 0;
padding: 0;
color: #CFCFCF;
background-color: #CFCFCF;
height: 1px;
border-width: 0px;
font-weight: normal;
}


#lines{
    min-width: 1000px;
    display: inline-block;
    text-align: center;
    width: 100%;
}
#line1{
    background: #FDF769 url("images/bg_circle.png") repeat-x scroll left bottom;
    height: 155px;
}
#line2{
    display: inline-block;
}

#top_game,#new_game,#our_game{
    display: inline-block;
    width: 113px;
    height: 124px;
    margin: 5px;
}
#top_game{
    background: url('images/top_game.png') no-repeat; 
}
#new_game{
    background: url('images/new_game.png') no-repeat; 
}
#our_game{
    background: url('images/our_game.png') no-repeat; 
}
#top_game:hover{
    background: url('images/top_game_.png') no-repeat; 
}
#new_game:hover{
    background: url('images/new_game_.png') no-repeat; 
}
#our_game:hover{
    background: url('images/our_game_.png') no-repeat; 
}


#page {
	width:100%;
	margin: 10px auto 0;
	position: relative;
    text-align: center;
}


#search {
float: right;
border-radius: 4px;
width: 208px;
height: 22px;
margin: 6px -82px 0px 0px;
}
#search input{

}
#knopka_search{
	width: 28px;
	background-image: url('images/knopka_search.png'); 
	float: right;	
}
#knopka_search:hover{
	cursor: pointer;
}
#search_text{
	width: 130px;
	border-radius: 4px;
	height: 28px;
}


#content{
    margin: 0 25px;
    text-align: center;
}

.game_preview, .game_preview_small  {
	overflow: hidden;
}

.game_preview:hover > .game_preview_title, .game_preview_small:hover > .game_preview_title, .game_preview_big:hover> .game_preview_title{
	display: block;
}
/*.game_preview:hover, .game_preview_small:hover, .game_preview_big:hover{
   background-color: #D10263;
}*/
.game_preview, .game_preview_big{
	display: inline-block;
    margin: 5px;
    background-color: #C04996;
    border-radius: 10px;
}

.game_preview > img {
	width: 135px;
	height: 135px;
    border-radius: 10px;
}

.game_preview_small {
	margin: 0 3px 7px 3px;
    background-color: #C04996;
    border-radius: 20px;
    display: inline-block;
}
.game_preview_small > img {
	width: 120px;
	height: 120px;
    /*margin: 3px;*/
    border-radius: 20px;
}
.game_preview_title {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    background-color: #000;
    display: none;
    height: 50px;
    width: 125px;
    position: absolute;
    margin: -50px 0px 0px 0px;
    opacity: 0.7;
    padding: 0px 5px;
    overflow: hidden;
    border-radius: 0px 0px 7px 7px;

}
.game_preview_small .game_preview_title{
    color: #fff;
	text-align: center;
	font-size: 11px;
    background-color: #000;
    display: none;
    height: 35px;
    width: 110px;
    position: absolute;
    margin: -35px 0 0 0;
    opacity: 0.7;
	border-radius: 0 0 20px 20px;
}
.game_preview_big .game_preview_title, .game_preview_big2 .game_preview_title {
	color: #fff;
	text-align: center;
	font-size: 12px;
    background-color: #473B51;
    display: none;
    height: 50px;
    width: 376px;
    position: absolute;
    margin: -52px 0 0 3px;
    opacity: 0.9;
    padding: 0 5px;
    overflow: hidden;
}

.game_preview_small_without_title{
    height: 98px;
    width: 130px;
    padding: 0 11px 6px 11px;
}
.game_preview_small_without_title img{
    height: 98px;
    width: 130px;
}

.game_preview_cata{
    width: 100%;
    max-height: 226px;
    overflow: hidden;
}


.new, .top, .hot, .feature{
   position: absolute;
   width: 60px;
   height: 35px;
   z-index: 2; 
   margin: 4px 0px 0px 76px;
}
.new{
       background: url('images/new.png') no-repeat;
}
.top{
       background: url('images/top.png') no-repeat;
}
.hot{
    background: url('images/hot.png') no-repeat;
}
.feature{
       background: url('images/featured.png') no-repeat;
}


/* game fin */
#all_info{
    margin: 0 auto;
    min-height: 625px;    
    display: inline-block;
    vertical-align: top;
    border-collapse: collapse;
}
#all_info tbody{
    display: inline-block;
    vertical-align: top;
    border-color: inherit;
}
/*.b160x600{
    width: 160px;
    height: 620px;
    padding: 5px;
    text-align: center; 
    float: left; 
    background-color: #fff;
    border-radius: 5px;      
}
.b160x600 .text{
    text-transform: uppercase;        
}

.side_game{
    width: 121px;
    margin: 0 7px;
    float: left;
    height: 44px;
}*/
.b160x600_1, .b160x600_2{
    width: 160px;
    height: 620px;
    padding: 0 5px;
    text-align: center;
    border-radius: 5px;
}
.b160x600_1 .text, .b160x600_2 .text, .b160x600_1_close .text, .b160x600_2_close .text{
    text-transform: uppercase;
    font-size: 10px;
	height: 14px;	
}

.b160x600_1_close, .b160x600_2_close{
    width: 160px;
    height: 620px;
    text-align: center; 
    display: inline-block;
    border-radius: 5px;      
}
.b160x600_1_close{
    margin: 0 -10px 5px 5px;
}
.b160x600_2_close{
    margin: 0 5px 5px -10px;
}

.side_game_1, .side_game_2{
    display: inline-block;
	width: 140px;
}
.side_game_1 a, .side_game_2 a{
    margin: 0 7px 7px 7px;
}
.small_game{
    background-color: #fff;
    border-radius: 3px;
    width: 121px;
    height: 89px;
    display: block;
    margin-bottom: 7px;
}
.small_game img{
    width:115px;
    height: 83px;
    margin: 3px;
}
#game_zag{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    float: left;
	text-align: center;
	margin-bottom: 150px;
}
#game_zag #title{
    color: #BA2F97;
	/*color: #663366;*/
    font-size: 21px;
    height: 20px;
    margin: 0px auto 8px auto;
    display: inline-block;
    font-family: Comic Sans MS;
}
#game{    
}

#more_game{
    margin: 10px auto;
    display: inline-block;
	overflow: hidden;
}
#more_game #title{
    color: #600;
    font-size: 18px;
    margin: 5px 0 25px 10px;
}
/*game fin END*/



#logo {
    display: inline-block;
    margin-right: 10px;
}
/*#logo img{
    margin-top: 37px;
}*/

#search_res{
    color: #fff;
    font-size: 16px;
}

#searchtop {
    display: inline-block;
    height: 124px;
    margin-left: 40px;
}
#search_input {
    display: inline-block;
    height: 43px;

}

.sinp{
    border: 0px none;
    font-size: 12px;
    height: 43px;
    color: #666;
    width: 240px;
    border-radius: 8px;
    background-color: #fff;
    float: left;
}


.imgs {
width: 43px; height: 43px;
background: url('images/search_button.png') no-repeat;
float: right;
cursor: pointer;
margin-left: 10px;
}
.imgs:hover{
    background: url('images/search_button_.png') no-repeat;
}


#link_home, #link_cat{
    display: inline-block;    
}
#link_home{
    width: 103px;
    height:63px;
	margin: 0 25px 0 155px;
}
#link_cat{
    width: 86px;
    height:58px;
}
#link_home_in{
    width: 103px;
    height:63px;
    background: url('images/menu_home.png') no-repeat;
    position: absolute;
    margin-top: -12px;
}
#link_home_in:hover{
    background: url('images/menu_home_2.png') no-repeat;
}
#link_cat_in{
    width: 86px;
    height:58px;
    background: url('images/menu_categories.png') no-repeat;
    position: absolute;
    margin-top: -12px;
}
#link_cat_in:hover{
    background: url('images/menu_categories_2.png') no-repeat;
}
/*#link_cat, #link_home{
    display: inline-block;
	color: #fff;
	text-transform: uppercase;
	font-family: Comic Sans MS;
	font-size: 14px;
}
#link_cat{
    margin-left: 20px;
	width: 92px;
    height: 78px;
}
#link_cat img{
	margin: 0 auto;
}
#link_home{    
	margin-left: 160px;
    width: 64px;
    height: 75px;
}*/
#soci_top{
    display: inline-block;
    margin-left: 30px;
}


#cont_game{
    background: #fff;
    border-radius: 10px;    
    margin: 10px 0 0 0;    
    text-align: left;
    line-height: 160%;
    width: 800px;
    padding: 15px 0;
}


#game_title{
    /*color: #BA2F97;*/
	/*color: #C04996;*/
	color: #663366;
    font-size: 21px;
    margin: 10px auto 0 auto;
    font-family: Comic Sans MS;
    display: inline-block;
    width: 100%;
}

#b300x250 {
	width: 300px;
	margin: 20px 0px 0 68px;
	text-align: center;
	color: #666;
	font-size: 12px;
	float: left;
}
#b336x280_top_left{
	width: 336px;
	margin: 20px 0px 0 60px;
	text-align: center;
	color: #666;
	font-size: 12px;
	float: left;
}

#gamebigscreen1, #gamebigscreen2{
	text-align: center;
	color: #000;
	font-size: 14px;
}
#gamebigscreen1 {
    margin: 20px 60px 0 0 ;
    float: right;	
	color: #666;
	font-size: 12px;
}

#gamebigscreen2{
    margin: 15px 44px 0 0 ;
    float: right;
}
#gamebigscreen3{
    margin: 0px 44px 0 0 ;
    float: left;
}


.img_ramka{
    border-radius: 8px;
    background-color: #EBB716;
    padding: 2px;
    margin-bottom:20px;
}
.img_ramka img {
width: 250px; 
border-radius: 8px;
}
#green_button, #download{
    float: left;
    height: 61px;
    width: 257px;
    margin: 27px 0 0 20px;
}
#green_button{
    background: url('images/green_button.png') no-repeat;
}
#download{
    background: url('images/download.png') no-repeat;
}


#cont_game2 {
background: #fff;
border-radius: 10px;
width: 800px;
padding: 10px 0;
margin: 10px 0;
text-align: left;
}
#small_screen{
    background-color: #FFB932;
    border-radius: 8px;
    padding: 3px;
    display: inline-block;
    margin: 10px 10px 10px 70px;
    float: left;
}
#small_screen img{
    width: 90px;
    border-radius: 8px;
}


.af {
clear: both;
width: 100%;
height: 1px;
font-size: 1px;
}


.pregameinfo {
    width: 300px;
    margin: 25px 0 0 68px;
    font-size: 20px;
    display: inline-block;
    color: #6E6E6E;
    font-family: time new roman;
    float: left;
}

#count_likes{
    width: 100%;
    font-size: 27px;
    font-family: Comic Sans MS;
    height: 40px;
    margin: 20px 0 20px 20px;
}
#count_likes span, #count_likes img{
    float: left;
    margin: 0 10px;    
}
#count_likes #dislike{
    color: #C61177;
    margin-top: 9px;
}
#count_likes #like{
    color: #29BFCE;
    margin-top: 9px;
    margin-left: 40px;
}

.game_info_text{
    font-family: Verdana;
    color: #000;
    font-size: 14px;
}

#description{
    font-size: 18px;
    display: inline-block;
    margin: 10px 60px;
    font-family: times neq roman;
    text-align: justify;
    color: #666;
    font-family: Comic Sans MS;
}
#description p{
    
    color: #533E6A;
    font-size: 20px;
    margin: 0 0  5px 0;
}
#screen_dimension{
    float: right;
    font-size: 18px;
    margin: 30px 81px 10px 0px;
    color: #6E6E6E;
    font-family: time new roman;
}
#screen_dimension span{
    color: #000;
}



.moinf2{
    text-align: left;
    margin: 0;
}
.moinf2 p{
    margin: 6px 0;
    color: #533E6A;
    font-family: Comic Sans MS;
}
.moinf2 span{
    color: #F48B1E;
}


.moinf {
margin-right: 5px;
float: right;
width: 250px;
text-align: left;
}

.moinftb {
font-size: 14px;
color: #000;
}
.moinftb th {
padding: 2px 3px;
text-align: right;
font-weight: bold;
}
.moinftb td {
padding: 2px 3px;
}

.ratingbar {
    margin: 10px 5px;
    width:212px; height: 42px;
    background: url('images/bow_off.png') no-repeat;
}
.ratingbar_full {
height: 42px;
background: url('images/bow_on.png') no-repeat;
}

.ratp {
position: relative; top: -23px; left: 160px;
}



a[id^='category']{
    display: inline-block;
    margin: 5px 1px;
    width: 125px;
    height: 150px;
}
#category_baby{
    background: url('images/cat/baby.png') no-repeat;
}
#category_barbie{
    background: url('images/cat/barbie.png') no-repeat;
}
#category_dress_up{
    background: url('images/cat/dress_up.png') no-repeat;
}
#category_cooking{
    background: url('images/cat/cooking.png') no-repeat;
}
#category_hair{
    background: url('images/cat/hair.png') no-repeat;
}
#category_frozen{
    background: url('images/cat/frozen.png') no-repeat;
}
#category_my_little_pony{
    background: url('images/cat/my_little_pony.png') no-repeat;
}
#category_other{
    background: url('images/cat/other.png') no-repeat;
}


#category_baby:hover{
    background: url('images/cat/baby_pressed.png') no-repeat;
}
#category_barbie:hover{
    background: url('images/cat/barbie_pressed.png') no-repeat;
}
#category_dress_up:hover{
    background: url('images/cat/dress_up_pressed.png') no-repeat;
}
#category_cooking:hover{
    background: url('images/cat/cooking_pressed.png') no-repeat;
}
#category_hair:hover{
    background: url('images/cat/hair_pressed.png') no-repeat;
}
#category_frozen:hover{
    background: url('images/cat/frozen_pressed.png') no-repeat;
}
#category_my_little_pony:hover{
    background: url('images/cat/my_little_pony_pressed.png') no-repeat;
}
#category_other:hover{
    background: url('images/cat/other_pressed.png') no-repeat;
}



.b336x280_txt {
width: 336px;
float: left;
margin: 5px 0 20px 35px;
text-align: center;
color: #666;
font-size: 12px;
}


.b300x600 {
width: 300px;
height: 620px;
float: left;
margin: 5px 0 0 63px;
text-align: center;
color: #000;
font-size: 14px;
}

.b336x280_txt p, .b300x600 p{
    height: 20px;
}


.imggp {
width: 98px; height: 74px;
margin: 0 0 0 10px;
float: left;
}


.cgpd {
width: 125px;
margin: 7px 0 0 30px;
text-align: center;
float: left;
}
.cgpd2 {
width: 125px;
margin: 7px 0 10px 0;
text-align: center;
float: left;
}

.abut {
display: block;
width: 124px; height: 37px;
background: url('images/button.gif') no-repeat;
}
.abut:hover {
display: block;
background: url('images/button_on.gif') no-repeat;
}
.abut font {
font-size: 14px;
color: #666;
position: relative; top: 8px;
}


#realGame {
/*visibility: hidden;*/
/*z-index: -1;*/
position: absolute;
top: 0;
margin: 0 auto;
}

@media (max-width:1380px){
    .b160x600_2{
        display: none;
    }
}
@media (max-width:1200px){
    .side_game_2{
        display: none;
    }
}

#bottom{
    width: 100%;
    height: 50px;
}
#main_text{
	margin: 5px 10%;
	color: #fff;
}

.abig:hover {
color: #39B54A;
}
.abig {
color: #118518;
font-size: 20px;
margin: 15px auto;
display: block;
text-align: center;
display: inline-block;
font-family: Comic Sans MS;
}



.category{
    display: inline-block;
    float: left;
    margin: 5px 1px 5px 20px;
    height: 114px;
    overflow: hidden;
}

.category img{
    width: 70px;
    height: 70px;
    border: solid 3px #FFC425;
    border-radius: 10px;
}
.category p{
    color: #9F4578;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    width: 74px;
}
.category:hover img{
border-color:#9F4578;
}

#li_{
	width:31px;
}