
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <div id="page">

        <div align="center">
          <div id="cont_game">
                
                <div class="af"></div>
                
     
            <%@categories.each do |category|%>
                <span class="category">
                   <%=link_to image_tag(category.upload_picture), category_path(category), class: "category"%>
                    <p><%="#{category.category.partition(" ").join("")}"+" "%>Games</p>            
                </span>
                
            <%end%>
        
                <div class="af"></div>
                <br><br>
                <div class="af"></div>
                <a id="red_button" href="http://www.fungoomy.com/"></a>
                <div class="af"></div>
            </div>
        </div>
    
    </div> <!--page-->






</body></html>