
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>


<div class="alltags">
    <ul class="tags">
               
        <%@categories.each do |category|%>
          <%count_of_game=CategoryFilm.where(category_of_game: category.category).count%>   
                <li>
            <div class="tags_left"> <%=link_to image_tag(category.upload_picture), category_path(category)%></div>
            <div class="tags_right">
                <div class="tags_right_name"><%="#{category.category.partition(" ").join("")}"%>
                </div>
                <div class="tags_right_num"><%=count_of_game%></div>
            </div>
        </li>
          <%end%>
    </ul>
</div>




</body></html>